@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
  border: 3px solid #fff;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif;
  background-color: #f6fbff;
  color: #333;
  width: 100%;
}

#root {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

button:focus-visible {
  outline: none;
}

*::-webkit-scrollbar {
  width: 0;
}
